{% for item in com_choisies %}
{% set regle = cis[item[0]] %}
{% if regle.remediation is defined %}
{{regle.commande}} {% if user_params.results[loop.index0].user_input | length > 0%} {{user_params.results[loop.index0].user_input}} {% endif %}
{% else %}
Aucune remediation pour {{item[0]}}
{% endif %}
{% endfor %}
