{% set result = [] %}
{% for i in range(com_choisies | length) %}
  {% set titre = com_choisies[i][0] %}}
  {% set remediation = cis[titre].remediation %}
  {% set params = user_params.results[i].user_input.split()%}
  {% set final = remediation %}
  {% for p in params %}
    {% set final = final | regex_replace('\{[^}]+\}', p, 1)%}
  {% endfor %}
  {% do result.append(final) %}
{% endfor %}
{{ result }}