Commandes manquantes sur l'appareil Cisco : {{inventory_hostname}}

{% set config_lines = host_config.lower().splitlines() %}
{% for titre_num, obj in ref_cis_ios17.items() %}
{% set found = false %}
    {% for line in config_lines %}
        {% if obj.commande | string | lower in line) %}
        {%set found = true %}
        {% endif %}
    {% endfor %}

{% if not found %}
{{obj.titre}}:{{obj.remediation}}
{% endif %}
{% endfor %}
