Commandes manquantes sur l'appareil Cisco : {{inventory_hostname}}

{% set config_lines = host_config.lower().splitlines() %}

{% for titre_num, obj in ref_cis_ios17.items() %}
{% for line in config_lines %}
    {% if not line.strip().startswith(obj.commande | string | lower) %}
        {{obj.titre}}:{{obj.remediation}}
    {% endif %}
{% endfor %}
