Commandes manquantes sur l'appareil Cisco : {{inventory_hostname}}

{% set config_lines = host_config.lower().splitlines() %}
{%for titre_num, obj in ref_cis_ios17.items()%}
{% set found = false %}
    {%if obj.commande | string | lower in host_config%}
        {%set found = true %}
    {%endif%}

    {%if not found%}
{{obj.titre}}:{{obj.remediation}}
    {%endif%}
{%endfor%}
