Rapport de conformité CIS pour l'appareil Cisco : {{inventory_hostname}}

{% set ns = {'ok': 0, 'ko': 0, 'level1': 0, 'level2': 0} %}

{% set objs_numbers = ref_cis_ios17 | length %}

{% for titre_num, obj in ref_cis_ios17.items() %}
{% if obj.commande | string in host_config %}
    La ligne : ({{obj.titre}}:{{obj.commande}}) de niveau {{obj.level}} est présente dans la config de l'appareil.✅
    {% if obj.level=='Level 1' %}
        {% set _ = ns.update({'level1': ns.level1 + 1}) %}
        {% else %}
            {% set _ = ns.update({'level2': ns.level2 + 1}) %}
    {% endif %}
    {% set _ = ns.update({'ok': ns.ok + 1}) %}

    {% else %}
    La ligne : ({{obj.titre}}:{{obj.commande}}) n'est pas présente dans la config de l'appareil ❌
{% endif %}



{% endfor %}
✅ {{ ns.ok }} règles présentes sur {{ objs_numbers }}
❌ {{ ns.ko }} règles absentes sur {{ objs_numbers }}
Il y'a {{ ns.level1 }} règles de niveau 1
Il y'a {{ ns.level2 }} règles de niveau 2

