Rapport de conformité CIS pour l'appareil Cisco : {{inventory_hostname}}

{% set ns = namespace(count_ok=0,count_ko,count_level1=0,count_level2=0) %}

{% set objs_numbers = ref_cis_ios17 | length %}

{% for titre_num, obj in ref_cis_ios17.items() %}

{% if obj.commande | string in host_config %}
    La ligne : ({{obj.titre}}:{{obj.commande}}) de niveau {{obj.level}} est présente dans la config de l'appareil.✅
    {% if obj.level==1 %}
        {% set ns.count_level1 = ns.count_level1 + 1 %}
        {% else %}
            {% set ns.count_level2 = ns.count_level2 + 1 %}
    {% endif %}

    {% set ns.count_ok= ns.count_ok + 1 %}

    {% else %}
    La ligne : ({{obj.titre}}:{{obj.commande}}) n'est pas présente dans la config de l'appareil ❌
{% endif %}



{% endfor %}
Il y'a {{ ns.count_ok }} titre_texte de présent sur {{ objs_numbers }} dans la config.
Il y'a {{ ns.count_level1 }} titre_texte de niveau 1 de présent sur {{ objs_numbers }}.
Il y'a {{ ns.count_level2 }} titre_texte de niveau 2 de présent sur {{ objs_numbers }}.

