{% set result = [] %}

{% set all_params = param_file | default({}) %}

{% if new_params is defined %}
  {% set all_params = all_params | combine(new_params) %}
{% endif %}

{% for item in commandes %}
  {% set titre = item.titre %}
  {% set cmd = item.commande %}

{% if '{' in cmd or '<' in cmd %}
  {% set param_value = all_params.get(titre,'') %}

    {% set final = cmd %}
    {% set final = final | regex_replace('\{[^}]*\}',param_value)%}
    {% set final = final | regex_replace('\<[^>]*\>',param_value)%}
    {% set final = final | regex_replace('\{[^}]+\}',param_value)%}
    {% set final = final | regex_replace('\<[^>]+\>',param_value)%}
{% else %}
  {% set final = cmd %}
{% endif %}
  {% set _ = result.append(final.strip()) %}
{% endfor %}
{{result | to_nice_yaml}}