{{% set missing_commands=[] %}}
{% for line in ref_cis_ios17 %}
{% if line.commande not in host_config %}
{{% append line.commande to missing_commands %}}
{% endif %}
{% endfor %}

{{missing_commands}}